<div class="elements">
    {exp:channel:entries limit="1" }
    {elements}
    {if elements:row_col_text}
        {elements:row_col_text}
        <div class="container">
            <div class="row">
                {content}
                    {content:row_col_text}
                {/content}
            </div>
            <!--ends row-->
        </div>
        <!--ends container-->
        {/elements:row_col_text}



    {if:elseif elements:row_col_image}
    {elements:row_col_image}
    <div class="container">
        <div class="row">
            {content}
            <p class="center">
                {if content:scale_fullwidth == 0}
                <img src="{content:row_image}" width="auto" height="auto" />
                {if:else}
                <img src="{content:row_image}" width="100%" height="auto" />
                {/if}
            </p>
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:row_col_image}



    {if:elseif elements:text_text}
    {elements:text_text}
    <div class="container">
        <div class="row">
            {content}
            {if content:column_layout =='75_25'}
            <div class="col three_fourths">
                {content:col_one_text}
            </div>
            <div class="col one_fourth last">
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='25_75'}
            <div class="col one_fourth">
                {content:col_one_text}
            </div>
            <div class="col three_fourths last">
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='33_66'}
            <div class="col one_third">
                {content:col_one_text}
            </div>
            <div class="col two_thirds last">
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='66_33'}
            <div class="col two_thirds">
                {content:col_one_text}
            </div>
            <div class="col one_third last">
                {content:col_two_text}
            </div>
            {if:else}
            <div class="col one_half">
                {content:col_one_text}
            </div>
            <div class="col one_half last">
                {content:col_two_text}
            </div>
            {/if}
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:text_text}



    {if:elseif elements:text_image}
    {elements:text_image}
    <div class="container">
        <div class="row">
            {content}
            {if content:column_layout =='75_25'}
            <div class="col three_fourths">
                {content:col_one_text}
            </div>
            <div class="col one_fourth last">
                <img src='{content:col_two_image}' width='100%' height='auto' />
            </div>
            {if:elseif content:column_layout =='25_75'}
            <div class="col one_fourth">
                {content:col_one_text}
            </div>
            <div class="col three_fourths last">
                <img src='{content:col_two_image}' width='100%' height='auto' />
            </div>
            {if:elseif content:column_layout =='33_66'}
            <div class="col one_third">
                {content:col_one_text}
            </div>
            <div class="col two_thirds last">
                <img src='{content:col_two_image}' width='100%' height='auto' />
            </div>
            {if:elseif content:column_layout =='66_33'}
            <div class="col two_thirds">
                {content:col_one_text}
            </div>
            <div class="col one_third last">
                <img src='{content:col_two_image}' width='100%' height='auto' />
            </div>
            {if:else}
            <div class="col one_half">
                {content:col_one_text}
            </div>
            <div class="col one_half last">
                <img src='{content:col_two_image}' width='100%' height='auto' />
            </div>
            {/if}
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:text_image}
    


    {if:elseif elements:image_text}
    {elements:image_text}
    <div class='container'>
        <div class='row'>
            {content}
            {if content:column_layout =='75_25'}
            <div class='col three_fourths'>
                <img src='{content:col_one_image}' width='100%' height='auto' />
            </div>
            <div class='col one_fourth last'>
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='25_75'}
            <div class='col one_fourth'>
                <img src='{content:col_one_image}' width='100%' height='auto' />
            </div>
            <div class='col three_fourths last'>
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='33_66'}
            <div class='col one_third'>
                <img src='{content:col_one_image}' width='100%' height='auto' />
            </div>
            <div class='col two_thirds last'>
                {content:col_two_text}
            </div>
            {if:elseif content:column_layout =='66_33'}
            <div class='col two_thirds'>
                <img src='{content:col_one_image}' width='100%' height='auto' />
            </div>
            <div class='col one_third last'>
                {content:col_two_text}
            </div>
            {if:else}
            <div class='col one_half'>
                <img src='{content:col_one_image}' width='100%' height='auto' />
            </div>
            <div class='col one_half last'>
                {content:col_two_text}
            </div>
            {/if}
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:image_text}
    



    {if:elseif elements:text_text_text}
    {elements:text_text_text}
    <div class="container">
        <div class="row">
            {content}
            {if content:column_layout =='25_50_25'}
            <div class="col one_fourth">
                {content:col_one_text}
            </div>
            <div class="col one_half">
                {content:col_two_text}
            </div>
            <div class="col one_fourth last">
                {content:col_three_text}
            </div>
            {if:elseif content:column_layout =='50_25_25'}
            <div class="col one_half">
                {content:col_one_text}
            </div>
            <div class="col one_fourth">
                {content:col_two_text}
            </div>
            <div class="col one_fourth last">
                {content:col_three_text}
            </div>
            {if:elseif content:column_layout =='25_25_50'}
            <div class="col one_fourth">
                {content:col_one_text}
            </div>
            <div class="col one_fourth">
                {content:col_two_text}
            </div>
            <div class="col one_half last">
                {content:col_three_text}
            </div>
            {if:else}
            <div class="col one_third">
                {content:col_one_text}
            </div>
            <div class="col one_third">
                {content:col_two_text}
            </div>
            <div class="col one_third last">
                {content:col_three_text}
            </div>
            {/if}
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:text_text_text}
    



    {if:elseif elements:gallery}
    {elements:gallery}
    <div class="container">
        <div class="row gallery gallery__flex">
            {content}
            <div class="gallery__image"><a href="{content:image_link}"><img src="{content:file}" width="100%" height="auto"></a></div>
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:gallery}
    



    {if:elseif elements:accordion}
    {elements:accordion}
    <div class="container">
        <div class="row accordion-container">
            {content}
            <h2 class="accordion-trigger">{content:accordion_header}</h2>
            <div class="accordion">
                {content:accordion_content}
            </div>
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:accordion}
    {if:elseif elements:staff}
    {elements:staff}
    <div class="container">
        <div class="row team_row">
            {content}
            <h2 {if content:display_accordion==1} class="accordion-trigger" {/if}>{content:section_title} </h2> {if content:display_accordion==1} <div class="accordion"> {/if}
                {content:providers_info}
                <div class="provider one_fourth" itemscope itemtype="http://schema.org/Person">
                    <img src="{content:providers_info:provider_image}" itemprop="image" />
                    <h4 itemprop="name">{content:providers_info:title}</h4>
                    <p class="title" itemprop="jobTitle">View Profile</p>
                </div>
                <!--ENDS MEMBER-->
                {/content:providers_info}
                {if content:display_accordion == 1} </div> {/if}
            {/content}
        </div>
        <!--ends row-->
    </div>
    <!--ends container-->
    {/elements:staff}




{if:elseif elements:video_embed}
{elements:video_embed}
<div class="row">
    <div class="iframe-container">{content}</div>
</div>
{/elements:video_embed}




{if:elseif elements:eeCode}
{elements:eeCode}
<div class="container">
    <div class="row">
        {exp:allow_eecode embed='y'}
        {content}
        {/exp:allow_eecode}
    </div>
    <!--ends row-->
</div>
<!--ends container-->
{/elements:eeCode}
{/if}
{/elements}
{/exp:channel:entries}
</div>
<!--ends .elements-->