{exp:channel:entries channel="generic_pages|scheduling_pages|bellin_locations" limit="1"}   
	{page_options}
	{if page_options:constrain_hero ==1}
		<div class="container">
	{/if}
	{/page_options}

	<div class="master-slider ms-skin-default" id="masterslider">
		{hero_banners}
		<div class="ms-slide"  >
		    <img src="/assets/images/branding/blank.gif" data-src="{hero_banners:hero_image}" alt="Bellin Health"/>
		    <div class="ms-layer ms-caption bold-caption" data-type="text" data-origin="{hero_banners:hero_placement}">
		       
    	        	<div style="color:{hero_banners:hero_text_color}" id="hero_text">{hero_banners:hero_text}</div>

		       
		    </div>
		    <a href="{hero_banners:hero_link}" target="_blank">Bellin Health</a>
		</div>
		{/hero_banners}
	</div>
{page_options}
	{if page_options:constrain_hero =='1'}
</div>
{/if}
{/page_options}
{/exp:channel:entries}

