

<footer id="footer">
    <div class="container">
       
    </div><!--ends container-->
</footer>









<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/masterslider.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/accordify.js"></script>
<script src="/assets/js/jquery.backstretch.min.js"></script>
<script src="/assets/js/jquery.meanmenu.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="../dist/jquery-input-mask-phone-number.js"></script>

</body>

</html>