<header>
    <div class="container">
        <div class="one_fourth remove-bottom">
            <span id="logo"><a href="{site_url}"><img src="/assets/images/branding/logo.png"></a></span>
        </div>
        <div class="three_fourths last">
            <div class="menu-btn" id="menu-btn">
                <span id="ham-icon"></span>
            </div>
             {exp:channel:entries limit="1"}
        <a href="{cp_edit_entry_url}" class="not-mobile" id="edit-button" target="_blank"><span><i class="far fa-edit"></i>&nbsp;&nbsp;edit page</span></a>
        {/exp:channel:entries}
        </div>
        <!--ends 3/4 last-->
    </div>
    <!--ends container-->
    {embed='_includes/.nav'}
</header><!-- /#header -->