<div id="portfolio" class="container">
	<div id='befc' class="item">
		<div class="mockup__device--desktop">
			<img src="/assets/devices/imac.png" width="100%" height="auto" class="device" />
		</div>
		<div class="website">
			<img src="/assets/devices/befc/desktop.png" width="100%" height="auto" class="mockup" />
		</div>
	</div>
	<!--ends item-->
</div>
<!--ends portfolio-->