/**
 * includes
 */
/* ---------------------------------------- @mixins ---------------------------------------- */
/**
 * simple transitions
 */
/**
 * px to rem conversion
 */
/**
 * media querie and vars
 */
/**
 * paths
 */
/**
 * colors
 */
.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  float: left; }

.one_half {
  width: 48%; }

.one_third {
  width: 30.66%; }

.two_thirds {
  width: 65.33%; }

.one_fourth {
  width: 22%; }

.three_fourths {
  width: 74%; }

.one_fifth {
  width: 16.8%; }

.two_fifth {
  width: 37.6%; }

.three_fifth {
  width: 58.4%; }

.four_fifth {
  width: 79.2%; }

.one_sixth {
  width: 13.33%; }

.five_sixth {
  width: 82.67%; }

.col {
  position: relative;
  margin-right: 4%;
  margin-bottom: 20px;
  float: left; }

.last {
  margin-right: 0 !important; }
  .last:after {
    clear: both !important; }

.full {
  width: 100% !important;
  height: auto !important;
  margin-right: 0 !important; }

.container {
  width: 100%;
  max-width: 1160px !important;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0px 20px; }

@media only screen and (max-width: 767px) {
  .one_half,
  .one_third,
  .two_thirds,
  .three_fourths,
  .one_fourth,
  .one_fifth,
  .two_fifth,
  .three_fifth,
  .four_fifth,
  .one_sixth,
  .five_sixth {
    width: 100%; }

  .row {
    clear: both; } }
/**
Fonts 
*/
@font-face {
  font-family: 'Proxima';
  src: url(/assets/fonts/proximanova-regular-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-regular-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-regular-webfont.woff) format("woff"), url(/assets/fonts/proxima/proximanova-regular-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-regular-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-style: italic;
  src: url(/assets/fonts/proxima/proximanova-regitalic-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-regitalic-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-regitalic-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-regitalic-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-regitalic-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 300;
  src: url(/assets/fonts/proxima/proximanova-light-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-light-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-light-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-light-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-light-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  src: url(/assets/fonts/proxima/proximanova-semibold-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-semibold-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-semibold-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-semibold-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-semibold-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  font-style: italic;
  src: url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-semibolditalic-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  src: url(/assets/fonts/proxima/proximanova-bold-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-bold-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-bold-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-bold-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-bold-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  font-style: italic;
  src: url(/assets/fonts/proxima/proximanova-boldit-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-boldit-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-boldit-webfont.woff?1307578394) format("woff"), url(/assets/fonts/proxima/proximanova-boldit-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-boldit-webfont.svg#webfont2rpW2ohz") format("svg"); }
@font-face {
  font-family: 'Proxima';
  font-weight: 900;
  src: url(/assets/fonts/proxima/proximanova-extrabold-webfont.eot);
  src: url("/assets/fonts/proxima/proximanova-extrabold-webfont.eot?iefix") format("eot"), url(/assets/fonts/proxima/proximanova-extrabold-webfont.woff) format("woff"), url(/assets/fonts/proxima/proximanova-extrabold-webfont.ttf?1307578394) format("truetype"), url("/assets/fonts/proxima/proximanova-extrabold-webfont.svg#webfont2rpW2ohz") format("svg"); }
*, *::before, *::after {
  box-sizing: border-box; }

html {
  background-color: #b6d464;
  display: block; }

body {
  font-family: "Lato", Sans-Serif;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

div {
  height: auto;
  word-wrap: break-word; }
  div:after {
    clear: both; }
  div.ms-container {
    overflow: visible; }
  div.ms-slide-container {
    overflow: visible; }

header {
  background-color: #d3d3d3; }

.row {
  width: 100%;
  display: table;
  margin: 20px auto; }
  @media only screen and (min-width: 1024px) {
    .row {
      margin: 35px auto; } }

.content {
  padding: 0 20px; }

h1, h2, h3 {
  margin: 0;
  line-height: 1.5; }

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 20px; }
  @media only screen and (min-width: 724px) {
    h1 {
      font-size: 42px;
      font-size: 2.625rem;
      margin-bottom: 0px; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 50px;
      font-size: 3.125rem;
      margin-bottom: 0px; } }

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem; }
  @media only screen and (min-width: 724px) {
    h2 {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 40px;
      font-size: 2.5rem; } }

@media only screen and (min-width: 724px) {
  h3 {
    font-size: 20px;
    font-size: 1.25rem; } }
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 30px;
    font-size: 1.875rem; } }

p {
  line-height: 1.5;
  margin: 0 0 10px 0; }

a {
  text-decoration: none;
  color: #b6d464; }
  a:hover {
    color: #bbd9ee; }

ul li, ol li {
  line-height: 1.5; }

img.responsive {
  max-width: 100% !important;
  height: auto; }

.main-menu {
  z-index: 9000; }
  @media only screen and (min-width: 1024px) {
    .main-menu {
      display: block;
      width: 100%; } }
  .main-menu.open {
    height: 100vh;
    width: 100%;
    background-color: #b6d464;
    padding-top: 30px; }
  .main-menu li {
    line-height: 1; }
    @media only screen and (min-width: 1024px) {
      .main-menu li.level-1 {
        height: 50px; }
      .main-menu li.level-2 {
        height: 30px; } }
    .main-menu li a {
      line-height: 2.5; }
    .main-menu li span {
      text-align: center;
      padding: 5px !important;
      font-size: 20px;
      font-size: 1.25rem;
      position: relative;
      top: 0px;
      left: 0px;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 20%;
      background-color: #b6d464;
      display: table-cell;
      vertical-align: middle;
      color: white; }
      .main-menu li span:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: '\f067'; }
      .main-menu li span.open {
        padding-top: 0; }
        .main-menu li span.open:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: '\f068'; }
  .main-menu #main-nav {
    padding-left: 0;
    margin: 0 auto;
    display: none; }
    .main-menu #main-nav.open {
      width: 100%;
      max-width: 500px;
      height: 100vh;
      margin: 0 auto;
      display: block;
      padding-top: 25px; }
    .main-menu #main-nav li {
      list-style: none;
      width: 100%;
      position: relative;
      line-height: 1; }
      .main-menu #main-nav li a {
        display: table-cell;
        color: white;
        vertical-align: middle; }
      @media only screen and (min-width: 1024px) {
        .main-menu #main-nav li ul {
          top: 40px; } }
      .main-menu #main-nav li .sub-menu {
        padding-left: 0; }
        .main-menu #main-nav li .sub-menu:before {
          clear: both; }
      .main-menu #main-nav li.level-1 {
        text-align: left;
        border-bottom: 1px solid #eee;
        display: table; }
        .main-menu #main-nav li.level-1 ul {
          display: none; }
          @media only screen and (min-width: 1024px) {
            .main-menu #main-nav li.level-1 ul {
              background-color: white;
              left: 0px;
              padding: 10px 0;
              position: relative;
              z-index: 9999; } }
          .main-menu #main-nav li.level-1 ul.open {
            display: block;
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 9999;
            width: 100%;
            overflow: hidden;
            height: auto;
            background-color: white;
            color: brand; }
          .main-menu #main-nav li.level-1 ul li {
            text-align: left;
            float: none; }
            .main-menu #main-nav li.level-1 ul li a {
              color: #b6d464;
              display: block; }
      .main-menu #main-nav li.level-2 a {
        padding-left: 15px;
        width: 70%; }
        @media only screen and (min-width: 1024px) {
          .main-menu #main-nav li.level-2 a {
            width: 100%; } }
      .main-menu #main-nav li.level-3 a {
        padding-left: 35px;
        width: 70%; }
      @media only screen and (min-width: 1024px) {
        .main-menu #main-nav li.level-3 {
          display: none !important; } }

.socialNav {
  text-align: right;
  padding-top: 15px; }

/* 

hamburger icon

*/
#menu-btn {
  cursor: pointer;
  z-index: 5;
  text-align: right; }
  #menu-btn span {
    margin-top: 20px;
    font-size: 28px;
    font-size: 1.75rem;
    display: block; }
    #menu-btn span:before {
      color: #b6d464;
      font-family: "Font Awesome 5 Free";
      content: '\f0c9';
      font-weight: 900; }
  #menu-btn.open span {
    display: block; }
    #menu-btn.open span:before {
      color: #b6d464;
      font-family: "Font Awesome 5 Free";
      content: '\f00d';
      font-weight: 900; }

div.plusMinus {
  display: table-cell;
  width: 20%;
  vertical-align: middle; }

/*

side navigation

*/
#sub-nav {
  display: none;
  padding-left: 0; }
  @media only screen and (min-width: 724px) {
    #sub-nav {
      display: flex; } }
  #sub-nav li {
    list-style: none;
    line-height: 2;
    padding: 0 15px; }
    #sub-nav li.first {
      padding-left: 0; }
    #sub-nav li.active {
      font-family: 'Lato', sans-serif;
      font-weight: 700; }
      #sub-nav li.active a {
        color: #b6d464; }
      #sub-nav li.active .level-2 a {
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        color: #b6d464; }

#nav_categories {
  padding-left: 0; }
  #nav_categories li {
    list-style: none;
    padding-bottom: 5px; }
    #nav_categories li a {
      color: black; }
      #nav_categories li a:hover {
        color: #b6d464; }
  #nav_categories ul {
    padding-left: 20px; }

/**
 * fontawesome
 */
/**
 * modules
*/
/**
 * all overrides
 */
#portfolio .item {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll; }
  #portfolio .item .mockup__device--desktop {
    overflow-x: scroll;
    overflow-y: hidden; }
    #portfolio .item .mockup__device--desktop img.website {
      position: absolute; }
    #portfolio .item .mockup__device--desktop img.device {
      z-index: 10; }
@media only screen and (min-width: 1024px) {
  #portfolio #befc .mockup__device--desktop {
    min-height: 800px; } }
