
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: $brand;
    display: block;
}
body {
    font-family: "Lato", Sans-Serif;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div{
    height: auto;
    word-wrap: break-word;
    &:after{
        clear: both;
    }
    &.ms-container{
         overflow: visible;
    }
    &.ms-slide-container{
        overflow: visible;
    }
}
header{
    background-color: $grey-10;
  
}

.row{
    width: 100%;
    display: table;
    margin:20px auto;
    @include mq(desktop){
        margin:35px auto;
    }
    
}
.content{
    padding:0 20px;
}
h1, h2, h3{
    margin: 0;
    line-height: 1.5;
}

h1{
    @include font_base($weight:regular);
    padding-top: 20px;
    @include mq(tablet){
        @include font_size(42px);
        margin-bottom: 0px;
    }
    @include mq(desktop){
        @include font_size(50px);
        margin-bottom: 0px;
    }
}
h2{
    @include font_base($weight:regular);
    @include font_size(18px);
    @include mq(tablet){
        @include font_size(24px);
    }
    @include mq(desktop){
        @include font_size(40px);
    }
}
h3{
    @include mq(tablet){
        @include font_size(20px);
    }
    @include mq(desktop){
        @include font_size(30px);
    }
}
p{
    line-height: 1.5;
    margin: 0 0 10px 0;
}
a{
    text-decoration: none;
    color: $brand;
    &:hover{
        color: $brand-alt;
    }
}
ul, ol{
    & li{
        line-height: 1.5;
    }
}
img{
    &.responsive{
        max-width: 100% !important;
        height: auto;
    }
}







