@keyframes fadeIn-open {
  0% {
    background-color: rgba(0,0,0,0);
    width: 100%;
    animation-timing-function: linear; 
  }
  100% {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    animation-timing-function: linear; 
  } 
}
@keyframes fadeIn-close {
  0% {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    animation-timing-function: linear; 
  }
  99% {
    background-color: rgba(0,0,0,0);
    width: 100%;
    animation-timing-function: linear; 
  }
  100% {
    background-color: rgba(0,0,0,0);
    width: 0px;
    animation-timing-function: linear; 
  } 
}





@keyframes slideRight-open {
  0% {
    width: 0px;
    animation-timing-function: linear; 
  }
  100% {
    width: 75vw;
    animation-timing-function: linear; 
  } 
}
@keyframes slideRight-close {
  0% {
    width: 75vw;
    animation-timing-function: linear; 
  }
  100% {
    width: 0px;
    animation-timing-function: linear; 
  } 
}





@keyframes slideLeft-open {
  0% {
    right: $main_menu_close;
    animation-timing-function: linear; 
  }
  100% {
    right: $main_menu_open;
    animation-timing-function: linear; 
  } 
}
@keyframes slideLeft-close {
  0% {
    right: $main_menu_open;
    animation-timing-function: linear; 
  }
  100% {
    right: $main_menu_close;
    animation-timing-function: linear; 
  } 
}





@keyframes slideDown-open {
  0% {
    top: $search_block-close;
    animation-timing-function: linear; 
  }
  100% {
    top: $search_block-open;
    animation-timing-function: linear; 
  } 
}
@keyframes slideDown-close {
  0% {
    top: $search_block-open;
    animation-timing-function: linear; 
  }
  100% {
    top: $search_block-close;
    animation-timing-function: linear; 
  } 
}