
/**
Fonts 
*/
@font-face {
    font-family: 'Proxima';
    src: url(/assets/fonts/proximanova-regular-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-regular-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-regular-webfont.woff) format('woff'),url(/assets/fonts/proxima/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-style: italic;
    src: url(/assets/fonts/proxima/proximanova-regitalic-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 300;
    src: url(/assets/fonts/proxima/proximanova-light-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-light-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-light-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    src: url(/assets/fonts/proxima/proximanova-semibold-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-semibold-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    font-style: italic;
    src: url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: bold;
    src: url(/assets/fonts/proxima/proximanova-bold-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-bold-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-bold-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: bold;
    font-style: italic;
    src: url(/assets/fonts/proxima/proximanova-boldit-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-boldit-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(/assets/fonts/proxima/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 900;
    src: url(/assets/fonts/proxima/proximanova-extrabold-webfont.eot);
    src: url('/assets/fonts/proxima/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(/assets/fonts/proxima/proximanova-extrabold-webfont.woff) format('woff'),url(/assets/fonts/proxima/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('/assets/fonts/proxima/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}

