.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    float: left;
}


.one_half {
    width: 48%
}

.one_third {
    width: 30.66%
}

.two_thirds {
    width: 65.33%
}

.one_fourth {
    width: 22%
}

.three_fourths {
    width: 74%
}

.one_fifth {
    width: 16.8%
}

.two_fifth {
    width: 37.6%
}

.three_fifth {
    width: 58.4%
}

.four_fifth {
    width: 79.2%
}

.one_sixth {
    width: 13.33%
}

.five_sixth {
    width: 82.67%
}

.col {
    position: relative;
    margin-right: 4%;
    margin-bottom: 20px;
    float: left
}

.last {
    margin-right: 0 !important;

    &:after {
        clear: both !important;
    }
}

.full {
    width: 100% !important;
    height: auto !important;
    margin-right: 0 !important;
}
.container{
    width: 100%;
    max-width: 1160px !important;
    margin:0 auto;
  
    width: 100%;
    position: relative;
    padding:0px 20px;


}

@media only screen and (max-width: 767px) {

    .one_half,
    .one_third,
    .two_thirds,
    .three_fourths,
    .one_fourth,
    .one_fifth,
    .two_fifth,
    .three_fifth,
    .four_fifth,
    .one_sixth,
    .five_sixth {
        width: 100%;
    }

    .row {
        clear: both;
    }
}