
/* ---------------------------------------- @mixins ---------------------------------------- */

@mixin normalize{
	/**
	 * normalize
	 */
	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
	b, strong {font-weight: bold;}
	i, em {font-style: italic;}
	button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0;}
	table { border-collapse: collapse; border-spacing: 0;}
	td, th { padding: 0;}
	th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: bold;}
	*, *:before, *:after {
		box-sizing: inherit;
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
	}
}

@mixin font_headline($weight: bold){
	@if($weight == 'bold'){
		$weight: 700;
	}
	font-family: 'Lato';
	font-weight: $weight;
}
@mixin font_base($weight: regular){
	@if($weight == 'light'){
		$weight: 300;
	}
	@if($weight == 'lighti'){
		$weight: 300i;
	}
	@if($weight == 'regular'){
		$weight: 400;
	}
	@if($weight == 'regulari'){
		$weight: 400i;
	}
	@if($weight == 'bold'){
		$weight: 700;
	}
	@if($weight == 'boldi'){
		$weight: 700i;
	}
	font-family: 'Lato', sans-serif;
	font-weight: $weight;
}

@mixin position_relative{
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin vertical_scroll(){
	overflow: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar{
    	display: none;
    }
}

@mixin valign_middle($position: relative){
	text-align: center;
    position: $position;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

@mixin border_radius($radius: 7px){
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	border-radius: $radius !important;
}

@mixin shadow(){
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}





/**
 * simple transitions
 */
@mixin bg_transition($speed: .25s){
  transition-property: background-color, color;
  transition-duration: $speed, $speed;
  transition-timing-function: ease-in, ease-out;
}
@mixin opacity_transition($opacity: 1, $speed: .25s){
	opacity: $opacity;
	transition: $opacity $speed ease-in-out;
	-moz-transition: $opacity $speed ease-in-out;
	-webkit-transition: $opacity $speed ease-in-out;
}
@mixin all_transition($speed: 1s){
	transition: all $speed ease-in-out;
	-webkit-transition: all $speed ease-in-out;
	-moz-transition: all $speed ease-in-out;
	-o-transition: all $speed ease-in-out;
}
@mixin rotate($degrees: 0deg) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}





/**
 * px to rem conversion
 */
 @function calculateRem($size) {
	$rem_size: $size / 16px;
	@return #{$rem_size}rem;
}
@mixin font_size($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}





/**
 * media querie and vars
 */
$breakpoint: (
 	"zero":		0px,
    "phone":    600px,
    "tablet":   724px,
    "desktop":  1024px,
    "hd": 		1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoint, $width) {
        $width: map_get($breakpoint, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin mq_min_max($min, $max){
	@if map_has_key($breakpoint, $min){
		$min: map_get($breakpoint, $min);
		@if map_has_key($breakpoint, $max){
			$max: map_get($breakpoint, $max);
			$max: $max - 1px;
		}
		@media only screen and (max-width: $max) and (min-width: $min) {
            @content;
        }
	}
}