
.main-menu{
	z-index: 9000;
	@include mq(desktop){
		display: block;
		width: 100%;
	}
	&.open{
		height: 100vh;
		width: 100%;
		background-color: $brand;
		padding-top: 30px;
	}
	& li{
		line-height: 1;
		@include mq(desktop){
			&.level-1{
				height: 50px;
			}
			&.level-2{
				height: 30px;
			}
		}
		& a{
			line-height: 2.5;
		}
		& span{
		
			text-align: center;
			padding: 5px !important;
			@include font-size(20px);
			@include position_relative();
	    	width: 20%;
	    	background-color: $brand;
	    	display: table-cell;
	    	vertical-align: middle;
	    	color: white;
	    	&:before{
	    		font-family: "Font Awesome 5 Free"; 
	    		font-weight: 600;
	    		content: '\f067';
	    	}
	    	&.open{
	    		padding-top: 0;
	    		&:before{
	    			font-family: "Font Awesome 5 Free"; 
	    			font-weight: 900;
	    			content: '\f068';
	    		}
	    	}
	    }
	}
	#main-nav{
	    padding-left: 0;
	    margin: 0 auto;
	    display: none;
	    &.open{
	    	width: 100%;
	    	max-width: 500px;
	    	height: 100vh;
	    	margin: 0 auto;
	    	display: block;
	    	padding-top: 25px;
	    }
	    & li{
	    	list-style: none;
	    	width: 100%;
	    	position: relative;
	    	line-height: 1;
	    	& a{
	    		display: table-cell;
	    		color: white;
	    		vertical-align: middle;
	    
	    	}
	    	& ul{
	    		@include mq(desktop){
	    			top: 40px;
	    		}
	    	}
	    	& .sub-menu{
	    		padding-left: 0;
	    		&:before{
	    			clear: both;
	    		}
	    	}
	    	
	    	&.level-1{
	    		text-align: left;
	    		border-bottom: 1px solid #eee;
	    		display: table;
	    		
	    		& ul{
	    			display: none;
	    			@include mq(desktop){
	    				background-color: white;
	    				left: 0px;
	    				padding: 10px 0;
	    				position: relative;
	    				z-index: 9999;
	    			}
	    			&.open{
	    				display: block;
	    				position: absolute;
	    				top: 50px;
	    				left: 0;
	    				z-index: 9999;
	    				width: 100%;
	    				overflow: hidden;
	    				height: auto;
	    				background-color:white;
	    				color: brand;
	    			}
	    			& li{
	    				text-align: left;
	    				float: none;
	    				& a{
	    					color: $brand;
	    					display: block;
	    					
	    				}

	    			}
	    		}
	    	}
	    	&.level-2{
	    		& a{
	    			padding-left: 15px;
	    			width: 70%;
	    			@include mq(desktop){
	    				width: 100%;
	    			}
	    		}
	    		
	    	}
	    	&.level-3{
	    		& a{
	    			padding-left: 35px;
	    			width: 70%;
	    		}
	    		@include mq(desktop){
	    			display: none !important;
	    		}
	    	}
	    }
	}	
}	

.socialNav{
	text-align: right;
	padding-top: 15px;
}


/* 

hamburger icon

*/
#menu-btn {
    cursor: pointer;
    z-index: 5;
    text-align: right;
    & span{
    	margin-top: 20px;
    	@include font-size(28px);
  		display: block;
	    &:before{
	    	color: $brand;
	    		font-family: "Font Awesome 5 Free"; 
	    		content: '\f0c9';
	    		font-weight: 900;
	    }
	}
  	&.open{
  		& span{
  			display: block;
    	
	    	&:before{
	    		color: $brand;
	    		font-family: "Font Awesome 5 Free"; 
	    		content: '\f00d';
	    		font-weight: 900;
	    	}
  		}
  		
  	}
}
     


div.plusMinus{
	display: table-cell;
 
	width: 20%;
	vertical-align: middle;
}


/*

side navigation

*/
#sub-nav{
	display: none;
	@include mq(tablet){
		display: flex;
	}
	padding-left: 0;
	& li{
		list-style: none;
		line-height: 2;
		padding: 0 15px;
		&.first{
			padding-left: 0;
		}
		&.active{
			@include font_base($weight: bold);
			& a{
				color: $brand;
			}
			& .level-2 a{
				@include font_base($weight: normal);
				color: $brand;
			}
		}
	}
}


#nav_categories{
	padding-left: 0;
	& li{
		list-style:none;
		padding-bottom:5px;
		& a{
			color: black;
			&:hover{
				color: $brand;
			}
		}

	}
	& ul{
		padding-left: 20px;
	}
}