#portfolio{
    & .item{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        overflow-y: scroll;
        & .mockup{
            &__device{
                &--desktop{
                   
                     overflow-x: scroll;
                     overflow-y: hidden;
                  
                    & img{
                        &.website{
                            position: absolute;
                        }
                        &.device{
                            z-index: 10;
                        }
                    }

                }
            }
           
        }
    }
    & #befc{
        & .mockup{
            &__device{
                &--desktop{
                    @include mq(desktop){
                        min-height: 800px;

                    }
    
                }
            }
        }
    }
    
}