/**
 * paths
 */

/**
 * colors
 */


$brand:#b6d464;



$brand-lt:#cbe190;
$brand-alt:#bbd9ee;




$grey-1:#fbfbfb;
$grey-2:#f6f6f6;
$grey-3:#f2f2f2;
$grey-4:#ededed;
$grey-5:#e9e9e9;
$grey-6:#e5e5e5;
$grey-7:#e0e0e0;
$grey-8:#dcdcdc;
$grey-9:#d7d7d7;
$grey-10:#d3d3d3;
$dark: #444;




$facebook: #3b5998;
$twitter: #00aced;
$pinterest: #bb0000;
$instagram: #777777;
$youtube: #777777;
$comments: #222222;

$gutter-mobile: 10px;
$gutter-tablet: 22px;
$gutter-desktop:22px;
$gutter-hd: 30px;

$width-tablet: 724px;
$width-desktop: 980px;
$width-hd: 1400px;
$max-width: $width-hd;


$search_block-open: 0px;
$search_block-close: -60px;

$main_menu-open: 0px;
$main_menu-close: -320px;
